@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}

/* Title Headings */
h2 {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}

/* Flashed Messages */
.message {
    line-height: 2;
}


/* Profile Page */
.profile {
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
}


/* Buttons */
.card-action {
    text-align: center;
}

.btn-small {
    font-family: 'Roboto', sans-serif;
}

.btn-margin {
    margin-bottom: 5px;
}


/* Footer */
.footer{
    bottom: 20px;
    width: 100%;
    height: 2.5rem;
    margin: 0 auto;
    max-width: 70%;
    text-align: center;
    padding: 0px;
    left: 0;
    right: 0;
    font-size: 35px;
}

.icon-color {
    color: orange;
}


/* Card for user posts */
.card-content {
    overflow-y: auto !important;
}


/* 404 Error */
.error {
    text-align: center;
    font-weight: 700;
    margin: 3rem;
}

.return_home {
    font-size: 25px;
}

@media (max-width:800px) {
    .carousel {
        display:none !important;
    }
}