{% extends "base.html" %}
{% block content %}

    <!-- Start of H2 Heading -->
    <h2 class="center-align orange-text">About</h2>
    <!-- End of H2 Heading -->

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card">
                <div class="card-content">
                    <p>
                        <h3 class="orange-text">Welcome</h3> to Cigarist. A place where cigar people like yourself can post up your own cigars 
                        with tasting notes and also see what everyone else is smoking in the world of cigars.
                        It is very simple to get started. Get yourself registered with us by selecting a unique 
                        username and a password and you are on your way.
                        Once you are registerd just login and start posting away. 
                        If you are anything like us at Cigarist we constantly wonder about the taste of a cigar. For 
                        instance when you are smoking a lovely Cuban Montecristo No.02 and you get those notes of 
                        light spice and pepper blending effortlessly with notes of almonds and cedar. Do you just 
                        wonder if another person smoking that same cigar gets the same flavour profiles?
                        From our own experience we can say sometimes you do. However there are definitely times that
                        we do not get the same flavours and it is always intersting to know what someone else tastes.
                        Even simpler you may want to smoke some new cigars and wonder what might be good for you. 
                        Here at Cigarist you will be able to search a multitude of posts and see what cigars you 
                        might be thinking of trying and get the tasting notes from other users as well.
                    </p>
                    <div class="carousel">
                        <a class="carousel-item" href="#one!"><img class="responsive-img" src="static/images/img01.jpg"></a>
                        <a class="carousel-item" href="#two!"><img class="responsive-img" src="static/images/img02.jpg"></a>
                        <a class="carousel-item" href="#three!"><img class="responsive-img" src="static/images/img03.jpg"></a>
                        <a class="carousel-item" href="#four!"><img class="responsive-img" src="static/images/img04.jpg"></a>
                        <a class="carousel-item" href="#five!"><img class="responsive-img" src="static/images/img05.jpg"></a>
                    </div>            
                    <div class="card-action">
                        <a href="{{ url_for('register') }}" class="orange-text">Register</a>
                        <a href="{{ url_for('login') }}" class="orange-text">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
