{% extends "base.html" %}
{% block content %}    

    <h2 class="orange-text center-align">All Posts</h2>

    {% if session.user %}
    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_cigars') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="green btn text-shadow">
                        <i class="fas fa-search right"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>
    {% endif %}

    <div class="row">
        {% for tastingNotes in tastingNotes %}
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ tastingNotes.cigarImage }}" class="responsive-img" alt="User Cigar Images">
                    </div>
                    <div class="card-content">
                        <p>
                            Brand:  {{ tastingNotes.cigarBrand }}<br>
                            Vitola: {{ tastingNotes.vitola }}<br>
                            Ring Gauge: {{ tastingNotes.ringGauge }}<br>
                            Handmade:   {{ tastingNotes.handMade }}<br>
                            Strength:   {{ tastingNotes.cigarStrength }}<br>
                            Draw:   {{ tastingNotes.cigarDraw }}<br>
                            Flavour:    {{ tastingNotes.cigarFlavour }}<br>
                            Aroma:  {{ tastingNotes.cigarAroma }}<br>
                            Burn:   {{ tastingNotes.cigarBurn }}<br>
                            Price:  {{ tastingNotes.price }}<br>
                            Notes:  {{ tastingNotes.notes }}<br>
                            Added By: {{ tastingNotes.created_by }}
                        </p>
                    </div>
                    <div class="card-action">
                        {% if session.user|lower == tastingNotes.created_by|lower %}
                            <a href="{{ url_for('edit_post', post_id=tastingNotes._id ) }}" class="btn-small orange waves-effect">Edit</a>
                            <a href="#delete" class="btn-small orange waves-effect modal-trigger">Delete</a>

                                <div id="delete" class="modal">
                                    <div class="modal-content">
                                        <h4>Are you sure?</h4>
                                        <p>In case you do not want to delete please click the 'Cancel' button or simply click outside of this box.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ url_for('delete_post', post_id=tastingNotes._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                                        <a href="{{ url_for('get_cigars') }}" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                    </div>
                                </div>

                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
  </div>
  
{% endblock %}