{% extends "base.html" %}
{% block content %}    

    <h2 class="orange-text center-align">All Posts</h2>

    <div class="col s12 m8 offset-m2 l6 offset-l3">
        {% for tastingNotes in tastingNotes %}
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s6">
                        <img src="{{ tastingNotes.cigarImage }}" width="375" height="250" alt="User Cigar Images">
                    </div>
                    <div class="col s6">
                        <p>
                        Brand:  {{ tastingNotes.cigarBrand }}<br>
                        Vitola: {{ tastingNotes.vitola }}<br>
                        Ring Gauge: {{ tastingNotes.ringGauge }}<br>
                        Handmade:   {{ tastingNotes.handMade }}<br>
                        Strength:   {{ tastingNotes.cigarStrength }}<br>
                        Draw:   {{ tastingNotes.cigarDraw }}<br>
                        Flavour:    {{ tastingNotes.cigarFlavour }}<br>
                        Aroma:  {{ tastingNotes.cigarAroma }}<br>
                        Burn:   {{ tastingNotes.cigarBurn }}<br>
                        Price:  {{ tastingNotes.price }}<br>
                        Notes:  {{ tastingNotes.notes }}<br>
                        Added By: {{ tastingNotes.created_by }}
                        </p>
                        <div class="col m6">
                            {% if session.user|lower == tastingNotes.created_by|lower %}
                                <a href="{{ url_for('edit_post', post_id=tastingNotes._id ) }}" class="btn-small orange waves-effect">Edit Post</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
