{% extends "base.html" %}
{% block content %}   
    <!-- Start of H2 Header -->
    <h2 class="orange-text center-align">Edit A Post</h2>
    <!-- End of H2 Header -->

    <!-- Start of Edit Form -->
    <div class="row card-panel orange lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_post', post_id=tastingNotes._id) }}">
            <!-- Start of Image URL Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-image prefix icon-color"></i>
                    <input type="url" id="cigarImage" name="cigarImage" class="validate"
                        value="{{ tastingNotes.cigarImage }}" minlength="5" maxlength="500" required>
                    <label for="cigarImage">Add Image URL</label>
                </div>
            </div>
            <!-- End of Image URL Section -->
            <!-- Start of Brand Name Section -->
            <div class="row" >
                <div class="input-field col s12">
                    <i class="fas fa-joint prefix icon-color"></i>
                    <input id="cigarBrand" name="cigarBrand" minlength="3" maxlength="25" 
                        value="{{ tastingNotes.cigarBrand }}" type="text" class="validate" required>
                    <label for="cigarBrand">Cigar Brand</label>
                </div>
            </div> 
            <!-- End of Brand Name Section -->
            <!-- Start of Cigar Vitola Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-window-minimize prefix icon-color"></i>
                    <input id="vitola" name="vitola" minlength="3" maxlength="25" 
                        value="{{ tastingNotes.vitola }}" type="text" class="validate" required>
                    <label for="vitola">Vitola (Cigar shape)</label>
                </div>
            </div>
            <!-- End of Cigar Vitola Section -->
            <!-- Start of Ring Gauge Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-circle prefix icon-color"></i>
                    <select name="ringGauge" id="ringGauge" class="validate" required>
                        <option value="" disabled>Please Select</option>
                        <option value="28" {% if tastingNotes.ringGauge == "28" %} selected {% endif %}>28 Ring Gauge </option>
                        <option value="30" {% if tastingNotes.ringGauge == "30" %} selected {% endif %}>30 Ring Gauge</option>
                        <option value="32" {% if tastingNotes.ringGauge == "32" %} selected {% endif %}>32 Ring Gauge</option>
                        <option value="34" {% if tastingNotes.ringGauge == "34" %} selected {% endif %}>34 Ring Gauge</option>
                        <option value="36" {% if tastingNotes.ringGauge == "36" %} selected {% endif %}>36 Ring Gauge</option>
                        <option value="38" {% if tastingNotes.ringGauge == "38" %} selected {% endif %}>38 Ring Gauge</option>
                        <option value="40" {% if tastingNotes.ringGauge == "40" %} selected {% endif %}>40 Ring Gauge</option>
                        <option value="42" {% if tastingNotes.ringGauge == "42" %} selected {% endif %}>42 Ring Gauge</option>
                        <option value="44" {% if tastingNotes.ringGauge == "44" %} selected {% endif %}>44 Ring Gauge</option>
                        <option value="46" {% if tastingNotes.ringGauge == "46" %} selected {% endif %}>46 Ring Gauge</option>
                        <option value="48" {% if tastingNotes.ringGauge == "48" %} selected {% endif %}>48 Ring Gauge</option>
                        <option value="50" {% if tastingNotes.ringGauge == "50" %} selected {% endif %}>50 Ring Gauge</option>
                        <option value="52" {% if tastingNotes.ringGauge == "52" %} selected {% endif %}>52 Ring Gauge</option>
                        <option value="54" {% if tastingNotes.ringGauge == "54" %} selected {% endif %}>54 Ring Gauge</option>
                        <option value="56" {% if tastingNotes.ringGauge == "56" %} selected {% endif %}>56 Ring Gauge</option>
                        <option value="58" {% if tastingNotes.ringGauge == "58" %} selected {% endif %}>58 Ring Gauge</option>
                        <option value="60" {% if tastingNotes.ringGauge == "60" %} selected {% endif %}>60 Ring Gauge</option>
                        <option value="62" {% if tastingNotes.ringGauge == "62" %} selected {% endif %}>62 Ring Gauge</option>
                        <option value="64" {% if tastingNotes.ringGauge == "64" %} selected {% endif %}>64 Ring Gauge</option>
                        <option value="64+" {% if tastingNotes.ringGauge == "64+" %} selected {% endif %}>64+ Ring Gauge</option>
                    </select>
                    <label for="ringGauge">Ring Gauge</label>
                </div>
            </div>
            <!-- End of Ring Gauge Section -->
            <!-- Start of Hand Made Cigar Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="far fa-hand-paper prefix icon-color"></i>
                    <select name="handMade" id="handMade" class="validate" required>
                        <option value="" disabled>Please Select</option>
                        <option value="Yes" {% if tastingNotes.handMade == "Yes" %} selected {% endif %}>Yes</option>
                        <option value="No" {% if tastingNotes.handMade == "No" %} selected {% endif %}>No</option>
                    </select>
                    <label for="handMade">Handmade</label>
                </div>
            </div>
            <!-- End of Hand Made Cigar Section -->
            <!-- Start of Cigar Strength Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-dumbbell prefix icon-color"></i>
                    <select name="cigarStrength" id="cigarStrength" class="validate" required>
                        <option value="" disabled>Please Select</option>
                        <option value="Mild" {% if tastingNotes.cigarStrength == "Mild" %} selected {% endif %}>Mild</option>
                        <option value="Medium" {% if tastingNotes.cigarStrength == "Medium" %} selected {% endif %}>Medium</option>
                        <option value="Full" {% if tastingNotes.cigarStrength == "Full" %} selected {% endif %}>Full</option>
                    </select>
                    <label for="cigarStrength">Strength</label>
                </div>
            </div>
            <!-- End of Cigar Strength Section -->
            <!-- Start of Draw Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-lungs prefix icon-color"></i>
                    <select name="cigarDraw" id="cigarDraw" class="validate" required>
                        <option value="" disabled>Please Select</option>
                        <option value="Easy" {% if tastingNotes.cigarDraw == "Easy" %} selected {% endif %}>Easy</option>
                        <option value="Normal" {% if tastingNotes.cigarDraw == "Normal" %} selected {% endif %}>Normal</option>
                        <option value="Hard" {% if tastingNotes.cigarDraw == "Hard" %} selected {% endif %}>Hard</option>
                    </select>
                    <label for="cigarDraw">Draw</label>
                </div>
            </div>
            <!-- End of Draw Section -->
            <!-- Start of Cigar Flavour Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-bacon prefix icon-color"></i>
                    <select name="cigarFlavour" id="cigarFlavour" class="validate" required>
                        <option value="" disabled>Please Select</option>
                        <option value="Coffee Notes" {% if tastingNotes.cigarFlavour == "Coffee Notes" %} selected {% endif %}>Coffee Notes</option>
                        <option value="Herb & Spice Notes" {% if tastingNotes.cigarFlavour == "Herb & Spice Notes" %} selected {% endif %}>Herb & Spice Notes</option>
                        <option value="Natural Notes" {% if tastingNotes.cigarFlavour == "Natural Notes" %} selected {% endif %}>Natural Notes</option>
                        <option value="Nutty Notes" {% if tastingNotes.cigarFlavour == "Nutty Notes" %} selected {% endif %}>Nutty Notes</option>
                        <option value="Sweet Notes" {% if tastingNotes.cigarFlavour == "Sweet Notes" %} selected {% endif %}>Sweet Notes</option>
                        <option value="Wood & Vegetal Notes" {% if tastingNotes.cigarFlavour == "Wood & Vegetal Notes" %} selected {% endif %}>Wood & Vegetal Notes</option>
                    </select>
                    <label for="cigarFlavour">Flavour</label>
                </div>
            </div>
            <!-- End of Cigar Flavour Section -->
            <!-- Start of Aroma Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-wine-bottle prefix icon-color"></i>
                    <select name="cigarAroma" id="cigarAroma" class="validate" required>
                        <option value="" disabled>Please Select</option>
                        <option value="Earth & Minerals" {% if tastingNotes.cigarAroma == "Earth & Minerals" %} selected {% endif %}>Earth & Minerals</option>
                        <option value="Flowers" {% if tastingNotes.cigarAroma == "Flowers" %} selected {% endif %}>Flowers</option>
                        <option value="Fruits" {% if tastingNotes.cigarAroma == "Fruits" %} selected {% endif %}>Fruits</option>
                        <option value="Herbs & Spices" {% if tastingNotes.cigarAroma == "Herbs & Spices" %} selected {% endif %}>Herbs & Spices</option>
                        <option value="Non Flavours" {% if tastingNotes.cigarAroma == "Non Flavours" %} selected {% endif %}>Non Flavours</option>
                        <option value="Nuts" {% if tastingNotes.cigarAroma == "Nuts" %} selected {% endif %}>Nuts</option>
                        <option value="Other Aromas" {% if tastingNotes.cigarAroma == "Other Aromas" %} selected {% endif %}>Other Aromas</option>
                        <option value="Plants" {% if tastingNotes.cigarAroma == "Plants" %} selected {% endif %}>Plants</option>
                    </select>
                    <label for="cigarAroma">Aroma</label>
                </div>
            </div>
            <!-- End of Aroma Section -->
            <!-- Start of Burn Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-burn prefix icon-color"></i>
                    <select name="cigarBurn" id="cigarBurn" class="validate" required>
                        <option value="" disabled>Please Select</option>
                        <option value="Canoeing" {% if tastingNotes.cigarBurn == "Canoeing" %} selected {% endif %}>Canoeing</option>
                        <option value="Coning" {% if tastingNotes.cigarBurn == "Coning" %} selected {% endif %}>Coning</option>
                        <option value="Even" {% if tastingNotes.cigarBurn == "Even" %} selected {% endif %}>Even</option>
                        <option value="Tunneling" {% if tastingNotes.cigarBurn == "Tunneling" %} selected {% endif %}>Tunneling</option>
                    </select>
                    <label for="cigarBurn">Burn</label>
                </div>
            </div>
            <!-- End of Burn Section -->
            <!-- Start of Price Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-money-bill-wave prefix icon-color"></i>
                    <input id="price" name="price" minlength="2" maxlength="8" 
                        value="{{ tastingNotes.price }}" type="text" class="validate" required>
                    <label for="price">Price (eg. £10 or $10)</label>
                </div>
            </div>
            <!-- End of Price Section -->
            <!-- Start of Users Tasting Notes Section -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-clipboard prefix icon-color"></i>
                     <textarea id="notes" name="notes" minlength="5" maxlength="1000" 
                        class="materialize-textarea validate" required>
                        {{- tastingNotes.notes -}}
                    </textarea>
                    <label for="notes">Notes</label>
                </div>
            </div>
            <!-- End of Users Tasting Notes Section -->
            <!-- Submit Button -->
            <div class="row">            
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large orange text-shadow btn-margin">
                        Edit Post <i class="fas fa-edit"></i>
                    </button>
                    <a href="{{ url_for('profile') }}" class="btn-large red text-shadow btn-margin">
                        Cancel <i class="fas fa-times-circle right"></i>
                    </a>
                </div>
            </div>
        </form>
    </div>
    <!-- End of Edit Form -->

{% endblock %}