{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3 center-align orange-text profile">
            <h3>{{ username }}'s profile</h3>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <h4 class="center-align orange-text">
                My Posts
            </h4>
        </div>
    </div>

    <div class="row">
        {% for tastingNotes in tastingNotes %}
            <div class="col s10 offset-s1">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ tastingNotes.cigarImage }}" class="responsive-img" alt="User Cigar Images">
                    </div>
                    <div class="card-content">
                        <p>
                            Brand:  {{ tastingNotes.cigarBrand }}<br>
                            Vitola: {{ tastingNotes.vitola }}<br>
                            Ring Gauge: {{ tastingNotes.ringGauge }}<br>
                            Handmade:   {{ tastingNotes.handMade }}<br>
                            Strength:   {{ tastingNotes.cigarStrength }}<br>
                            Draw:   {{ tastingNotes.cigarDraw }}<br>
                            Flavour:    {{ tastingNotes.cigarFlavour }}<br>
                            Aroma:  {{ tastingNotes.cigarAroma }}<br>
                            Burn:   {{ tastingNotes.cigarBurn }}<br>
                            Price:  {{ tastingNotes.price }}<br>
                            Notes:  {{ tastingNotes.notes }}<br>
                            Added By: {{ tastingNotes.created_by }}
                        </p>
                    </div>
                    <div class="card-action">
                            <a href="{{ url_for('edit_post', post_id=tastingNotes._id ) }}" class="btn-small orange waves-effect center-btn">Edit</a>
                            <a href="#delete" class="btn-small red waves-effect modal-trigger center-btn">Delete</a>

                                <div id="delete" class="modal">
                                    <div class="modal-content">
                                        <h4>Are you sure?</h4>
                                        <p>In case you do not want to delete please click the 'Cancel' button or simply click outside of this box.</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ url_for('delete_post', post_id=tastingNotes._id) }}" class="modal-close waves-effect waves-green btn-flat">Delete</a>
                                        <a href="{{ url_for('get_cigars') }}" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        {% endfor %}
  </div>

{% endblock %}
