{% extends "base.html" %}
{% block content %}

    <!-- Start of H2 Heading -->
    <h2 class="center-align orange-text">Register Here!</h2>
    <!-- End of H2 Heading -->

    <!-- Start of Register Section -->
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
            <div class="card">
                <!-- Main Image on the Card -->
                <div class="card-image">
                    <img src="static/images/register_img.jpg" alt="Neon Sign">
                </div>               
                <div class="card-action">
                    <!-- Username Input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-plus prefix icon-color"></i>
                            <input id="username" name="username" type="text" minlength="3"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <!-- Password Input -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix icon-color"></i>
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- Register Button -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large orange text-darken-2 text-shadow btn waves-effect">
                            Register Now <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!-- End of Register Section -->

    <!-- Start of Login Link -->
    <div class="row">
        <div class="col s12">
            <p class="center-align">
                Already a member? <a href="{{ url_for('login') }}" class="orange-text lighten-1">Log In</a>
            </p>
        </div>
    </div>
    <!-- End of Login Link -->

{% endblock %}
